:root{
    --primary:#1c2331;
    --primary-transparent:#1c2331e3;
    --secondary:#ffc107;
    --tertiary:#3d5e9e;
    --text-color:black;
    --test:snow;
}

/* Dark */
.custom-primary{
    background-color:var(--primary)!important;
    color:var(--test)!important;
}


.custom-primary-transparent{
    background-color:var(--primary-transparent)!important;
    color:var(--test)!important;
}

/* Yellow */
.custom-secondary{
    background-color: var(--secondary)!important;
    color:var(--text-color)!important;
}

.custom-secondary-text{
    color: var(--secondary)!important;
}


/* Blue */
.custom-tertiary{
    background-color: var(--tertiary)!important;
}

.custom-tertiary-text{
    color: var(--tertiary)!important;
}

/* .table-striped tbody tr:nth-of-type(odd) {

    background-color:rgba(61, 94, 158,0.3) !important;
   } */

.selected{
    background-color:rgba(61, 94, 158,0.3) !important;

}







/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  /* Handle */
  
  ::-webkit-scrollbar-thumb {
  
  
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #3d5e9e 0%, #3d5d9e86 100%);
    background-image: linear-gradient(120deg, #3d5e9e 0%, #3d5d9e4d 100%); 
  
  
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
  
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #3d5e9e 0%, #3d5e9e 100%);
    background-image: linear-gradient(120deg, #3d5e9e 0%, #3d5e9e 100%); 
  
  }     
  
  